body {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "section4 section4 section4 section4"
    "social social social social"
    "footer footer footer footer";
  margin: 0;
}

header {
  background-image: url(restaurangbild.jpg);
  background-size: cover;
  background-position: center center;
}

section {
  grid-area: section4;
  display: grid;
}

.restaurang {
  display: grid;
  text-align: center;
  justify-items: center;
  margin: 10px;
}

.restaurang h1 {
  max-width: 550px;
  margin: 20px;
  font-size: 3rem;
  line-height: 3rem;
  text-transform: capitalize;
}

.restaurang p {
  max-width: 500px;
  font-size: 1.8rem;
  line-height: 2rem;
}

.container {
  justify-self: center;
  position: relative;
  margin: 20px;
  max-width: 800px;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  max-height: 500px;
  height: 100%;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 16.66%;
}

.column img {
  width: 100%;
  max-height: 75px;
  height: 100%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.meny {
  display: grid;
  text-align: center;
  justify-items: center;
  margin: 20px;
}

.meny p {
  width: 50%;
  max-width: 400px;
  font-size: 1.6rem;
  margin: 0 0 20px;
  text-align: left;
}

.meny h3 {
  width: 50%;
  text-align: left;
  max-width: 400px;
  margin: 10px 0;
  font-size: 2rem;
}

.meny h2 {
  font-size: 3rem;
  text-transform: capitalize;
}

.restaurang-meny {
  justify-self: center;
  max-width: 500px;
  width: 100%;
  height: auto;
  margin: 20px;
}

#potatis{
  color: gray;
  font-size: 1.2rem;
  margin: 15px 0;
}

@media screen and (max-width: 1200px) {
  body {
    grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "section4 section4 section4 section4"
    "social social social social"
    "footer footer footer footer";
  }
}

@media screen and (max-width: 500px) {

  .restaurang h1 {
    font-size: 2.2rem;
    line-height: normal;
    max-width: 300px;
  }

  .restaurang p {
    line-height: normal;
    font-size: 1.2rem;
    max-width: 300px;
    margin: 10px;
  }

  .meny p {
    font-size: 1.3rem;
  }

  .meny h3 {
    font-size: 1.8rem;
  }

  .meny h2 {
    font-size: 2rem;
  }

  .restaurang-meny {
    max-width: 300px;
  }

}
